* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    overflow: hidden;
}

a,
a:visited {
    text-decoration: none;
    color: #c6c6c6;
}

a:hover,
a:active {
    color: #fff;
}

#info {
    display: none;
}

.centering-helper {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    pointer-events: none;
}

#controlPanel {
    pointer-events: auto;
    position: relative;
    transform: translate(0px, -50%);
    top: 50%;
    width: 70%;
    height: auto;
    color: #999;
    max-height: 600px;
    transition: 0.2s ease-out;
    overflow: hidden;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.15);
    padding-left: 10px;
    padding-right: 10px;
}

#controlPanel.hidden {
    opacity: 0;
    transform: scale(10);
    pointer-events: none;
    transition: 0.2s ease-in;
}

#trackInfoPanel {
    overflow: hidden;
    max-height: 200px;
    transition: opacity 0.8s;
    padding-top: 10px;
}

#trackInfoPanel.hidden {
    opacity: 0;
    transition: opacity 0.2s;
}

#infoImage {
    float: left;
    padding-right: 8px;
}

#infoArtist {
    font-size: 24px;
}

#infoTrack {
    font-size: 30px;
}

#playerControls {
    text-align: center;
    position: relative;
    padding-top: 10px;
}

#presetControls {
    text-align: center;
    position: relative;
    padding-top: 10px;
}

#input {
    font-size: 20px;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: -30px;
    width: 80%;
    max-width: 690px;
    color: white;
    background-color: #EBEBEB;
    color: #333;
    border: 1px solid #111;
    border-radius: 3px;
}

#submit {
    position: absolute;
    color: #fff;
    font-size: 32px;
    padding: 5px;
    background: none;
    border: none;
}

button {
    color: #fff;
    background: none;
    border: none;
    font-size: 32px;
    padding: 5px;
}

#player {
    width: 95%;
}

#messageBox {
    position: absolute;
    top: 30%;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    max-height: 500px;
    transition: opacity 0.5s, max-height 0.5s, padding 0.5s;
    z-index: 500;
    overflow: hidden;
}

#messageBox.hidden {
    opacity: 0;
    max-height: 0;
    padding: 0;
}

#messageBox p {
    margin-bottom: 10px;
}

#messageBox a:link,
#messageBox a:visited {
    color: #666;
}

footer {
}

#credit,
#github {
    display: inline-block;
    padding-top: 8px;
    padding-right: 10px;
}

#scLogo {
    float: right;
}


/* make some txt small for small screens */

@media (max-width: 900px) {
    footer {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    #input {
        font-size: 16px;
    }
    footer {
        font-size: 10px;
    }
}
